<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><img class="image" src="/css/ShiftSync.svg" alt="ShiftSync"></div>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Stats</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">List</a></li>
            </ul>
            <a href="/logout" class="Action_btn">Logout</a>
        </div>
    </header>
    <main>
        <p>
            Welcome to Shift Sync - Your College Life Balance Companion!
            <br><br>
            Finding balance between college and personal life just got easier. Shift Sync offers tips, resources, and support for academic success while nurturing your passions. From time management to self-care, we've got your back.
            <br><br>
            Welcome aboard!
        </p>
    </main>
</body>

</html>