<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="/image/login.png">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="post" autocomplete="off">
                    <div class="logo"><img class="image" src="/css/ShiftSync.svg" alt="ShiftSync"></div>
                    <h2>Sign Up</h2>
                    <div class="message-box">
                        <% if(typeof message !== 'undefined') { %>
                            <div class="message-card">
                                <h4><%= message %></h4>
                            </div>
                        <% } %>
                    </div>
                    <div class="inputbox">
                        <!-- <ion-icon name="mail-outline"></ion-icon> -->
                        <input type="text" name="name" required>
                        <label for="">Name </label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" required>
                        <label for="">Email </label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="eye-off-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label for="">Password </label>
                    </div>
                    <!-- <div class="forget">
                        <div class="onepiece">
                            <input type="checkbox">Remember Me
                        </div>
                        <a href="#">Forget Password</a>
                    </div> -->
                    <input class="button" type="submit" value="Sign Up">

                    <div class="register">
                        Already have account?
                        <a href="/login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>